@import "loader";

$navbar-height : 50px;
$grid-gutter-width : 30px;

$color-weight-level : 400;

// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);




$success : map-get($md-green, $color-weight-level);
$success-color : map-get(map-get($md-green, contrast), $color-weight-level);


$error : map-get($md-red, $color-weight-level);
$error-color : map-get(map-get($md-red, contrast), $color-weight-level);

@include angular-material-theme(md-light-theme($primary, $accent));


h1, h2, h3, h4, h5, h6{margin-top:0;}

.app-wrapper{
  display:flex; flex-direction: row; height:calc(100vh - #{$navbar-height});
  .app-content-container{flex:1;}
}







.amped-container{
  padding:$grid-gutter-width;
}

.fill-remaining-space{flex: 1 1 auto;}

bs-modal-container{
  &> div:not(.modal-dialog){width:768px; position:relative; left:50%; transform:translateX(-50%); top:10vh;}
}

.amped-alerts-confirm-no-body{
  modal-body{display:none}
}

img{width:100%;}




/**
* angular material overrides
*/
// @TODO figure out where and what all the color variables are
[md-raised-button]{cursor:pointer !important;}
md-input{cursor:text;}
md-sidenav-layout{background:#E0E0E0 !important;} // @TODO bad important

table{
  width:100%; border-collapse: collapse;
  th{
    font-size:0.8rem; color:rgba(0,0,0,0.54); height:64px; vertical-align:middle; font-weight:normal; text-align:left;
    &.numeric{text-align:right;}
  }
  td{
    font-size:0.9rem; color:rgba(0,0,0,0.87); height:48px; vertical-align:middle;
    &.action-cell{text-align:right}
    md-icon{cursor:pointer; }
  }
  tr{border-bottom:solid 1px #E0E0E0;}
}

