h1, h2, h3, h4, h5, h6{margin-top:0;}


.app-wrapper{
  display:flex; flex-direction: row; height:calc(100vh - #{$navbar-height});
  .sidebar{
    display:flex; width:300px; background:#666;
    &.amped-container{
      padding:$grid-gutter-width/2;
    }
    ul{margin:0; padding:0; list-style:none;}
  }
  .app-content-container{flex:1;}
}

.amped-container{
  padding:$grid-gutter-width;
}

table{
  tbody {
    tr:nth-child(odd) {
      background: #fafafa;
    }
  }
}

bs-modal-container{
  &> div:not(.modal-dialog){width:768px; position:relative; left:50%; transform:translateX(-50%); top:10vh;}
}

.amped-alerts-confirm-no-body{
  modal-body{display:none}
}


