amped-sidebar{
  md-sidenav-layout{
    display:flex; width:200px; background:#666; height:100%;
    &.amped-container{
      padding:$grid-gutter-width/2;
    }
    ul{margin:0; padding:0; list-style:none;}
    md-icon{text-align:center; line-height:40px;}
    md-nav-list, md-list{padding-top:0;}

    md-list [md-list-item] .md-list-item{
      padding-left:8px !important; padding-right:8px !important; font-size:14px;
      md-icon{text-align:center !important; line-height:40px;}
    }
    .nav-section [md-subheader]{background:#333 !important; color:#eee !important;}
    .md-sidenav-content{width:100%;}
  }
}

