md-toolbar{

  background-color:#673ab7 !important; color:#fff;

  md-toolbar-row > div{
    display:flex;
  }
  .dropdown{
    &:hover, &:focus{
      .dropdown-menu{display:block;}
    }
  }

  [md-icon-button]{margin-top:12px;}
}
