amp-user-thumb{
  height:64px; display:flex; align-items: center; cursor:pointer; font-size:16px;

  img{height:70%; border-radius:100%; margin-right:$grid-gutter-width/2; }
}

.default-avatar{
  height: 40px; width: 40px; border-radius: 50%; display:block; line-height:40px; text-align:center; background:#ff0000; margin-right:15px;
}

.user-profile{
  amped-user-card {flex:1;}
  .user-profile-content{
    flex: 3; margin-left:$grid-gutter-width;
  }
}

