<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let header of headers">{{row[header] | truncate}}</td>
      <td>
        <select name="" id="" (change)="onChange($event, row.id)">
          <option value="">Modify</option>
          <option value="edit">Edit</option>
          <option value="delete">Delete</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
