<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let header of headers">
        <span title="{{row[header]}}">{{row[header] | truncate}}</span>
      </td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true" (click)="onEditClick(row.id)"></i>
        <i class="fa fa-trash" aria-hidden="true" (click)="onDeleteClick(row.id)"></i>
      </td>
    </tr>
  </tbody>
</table>
