amped-login-form{
  md-card{width:350px; margin:0 auto;}
  md-input{width:100%;}
  .or{
    text-align:center; display:block; width:100%; position:relative; margin-top:15px; margin-bottom:15px;
    &:before{content:' '; border-top:solid 1px #E0E0E0; position:absolute; width:100%; left:0; top:12px;}
    span{display:inline-block; padding:5px 10px; background:#fff; position:relative; z-index:9;}
  }
  .login-help{ margin-top:15px;}
}
