amped-crud-table{
  md-input{
    margin-right:$grid-gutter-width/2;
    .md-input-wrapper{
      margin-top:8px;
    }
  }
  amp-spinner{
    position: absolute; top: 0; left: 0; width:100%; height:100%;
    &:before{ content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.85); }
    .spinner{position:absolute; top:100px; left:50%; transform:translateX(-50%); zoom:2;}
  }
}

