amped-form{
  md-input{width:100%;}
  .amped-form-element{width:100%}

  amp-file-upload-display{
    display:flex;

    [md-card-sm-image]{margin:0 8px 0 0}
    md-card-title-group{margin:0; flex-direction:row-reverse; align-items:center;}
    md-card-title{font-size:16px; margin-bottom:8px;}
    md-card-subtitle{margin-bottom:0;}
  }

  md-card-title:not(:first-child), md-card-subtitle:not(:first-child){margin-top:0;}

  .buttons{
    figure{
      justify-content:flex-start;}
  }
}

